<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/loading_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <receiver
            android:name=".Broadcast_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name=".Music_Service" />

        <activity android:name=".Loading_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home_Activity"
            android:configChanges="orientation"/>
        <activity
            android:name=".Workout_info_Activity"
            android:configChanges="orientation" />
        <activity
            android:name=".Stop_watch_Activity"
            android:configChanges="orientation" />
        <activity android:name=".Workout_info_files_Activity" />
        <activity android:name=".Info_write_Activity" />
        <activity
            android:name=".Workout_diary_Activity"
            android:configChanges="orientation" />
        <activity android:name=".Diary_write_Activity" />
        <activity android:name=".Notice_read_Activity" />
        <activity android:name=".Notice_write_Activity" />
    </application>

</manifest>